<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Добавить анекдот</title>

    <link rel="stylesheet" href="/static/editor.css">
</head>
<body>

<div class="editor-container">

    <h1>Новый анекдот</h1>

    <form method="post">

        <textarea
            name="text"
            rows="10"
            placeholder="Введите текст анекдота"
            required
        ></textarea>

        <button type="submit">
            Добавить
        </button>

            <a href="/" class="cancel-btn">
        Отмена
    </a>

    </form>

</div>

</body>
</html>