<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link rel="stylesheet" href="/static/auth.css">
</head>
<body>

<div class="auth-container">

    <h1>Регистрация</h1>

    {% if error %}
        <div class="error">
            {{ error }}
        </div>
    {% endif %}

    <form method="post">

        <input
            type="text"
            name="username"
            placeholder="Логин"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Пароль"
            required
        >

        <button type="submit">
            Зарегистрироваться
        </button>

    </form>

    <a href="/login">
        Уже есть аккаунт?
    </a>

</div>

</body>
</html>